body {
    background-color: #cccaca;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timerBox {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    padding: 5px;
    align-items: center;
    border-left: solid 2px teal;
}

#rankingBox {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    padding: 5px;
    align-items: center;
    border-right: solid 2px teal;
}

#quizBody {
    width: 100%;
    text-align: center;
}

#quizDisplay {
    width: 100%;
    text-align: center;
    padding: 10%;
}

#quizDisplay button {
    text-align: left;
    width: 50%;
    margin: 0.5% 10% 0.5% 20%;
}

button {
    background-color: teal;
    border-radius: 5px;
    border-color: lightseagreen;
    font-weight: bold;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 1.5;
}

button:hover {
    background-color:aquamarine;
    font-size: larger;
  }
